.footer {
    padding: 23px 0;
    background: #E1EDE6;

    &__hr{
        display: none;
        border: none;
    }

    &__all {
        max-width: 1110px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 35px;
    }

    &__logo {
        width: 143px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        cursor: pointer;

        &_text {
            color: #598D66;
            font-family: "Raleway", sans-serif;
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
        }
    }

    &__location {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 8px;

        &_number {
            color: #2C2D35;
            font-family: "Raleway", sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            transition: 0.5s;

            &:hover{
                color: #598D66;
            }
        
            &:focus{
                background: #D4E8D9;
                color: #2C2D35;
            }
        
            &:active{
                background: transparent;
                color: #376B44;
            }
        }

        &_name {
            color: #86928B;
            font-family: "Raleway", sans-serif;
            font-size: 20px;
            font-weight: 500;
        }
    }

    &__nav {
        max-width: 445px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &_h3 {
            color: #2C2D35;
            font-family: "Raleway", sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            transition: 0.5s;

            &:hover{
                color: #598D66;
            }
        
            &:focus{
                background: #D4E8D9;
                color: #2C2D35;
            }
        
            &:active{
                background: transparent;
                color: #376B44;
            }
        }

        &_text {
            color: #86928B;
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            text-decoration: none;
        }
    }

    &__reprodactions {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__news {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__about-us {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__sotial {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // margin-top: 30px;

        &_apps {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            transition: 0.5s;
        }

        &_app{
            transition: 0.5s;
            cursor: pointer;

            path{
                transition: 0.5s;
            }

            &:hover{
                path{
                    fill:#598D66;
                }
            }

            &:focus{
                path{
                    stroke: #D4E8D9;
                    background-color: #D4E8D9;
                }
            }

            &:active{
                path{
                    background-color: transparent;
                    fill: #376B44;
                }
            }
        }

        &_logo {
            color: #86928B;
            font-family: "Raleway", sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 120%;
        }

        &_right {
            color: #86928B;
            font-family: "Raleway", sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 120%;
        }
    }
}

.footer__mobile{
    display: none;
}